# Intellij
.idea/
*.iml
*.iws
/out/

# Maven
log/
target/

# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\kozik\IdeaProjects\SSAU\Azovskaya\ConstantRecursiveSequence\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
